name: InfraService CD - Terraform Apply

on:
  workflow_dispatch:

jobs:
  terraform_apply:
    runs-on: ubuntu-latest
    
    steps:
      - name: Terraform Apply
        uses: ITAssetManagementSystem/CommonWorkflows/.github/actions/terraform-plan@main
        with:
          working_directory: InfraService/environment/dev
