
name: InfraService CI - Terraform Plan

on:
  pull_request:
    branches:
    - main
  workflow_dispatch:

jobs:
  terraform_plan:
    runs-on: ubuntu-latest
    steps:
      - name: Terraform Plan
        uses: ITAssetManagementSystem/CommonWorkflows/.github/actions/terraform-plan@main
        with:
          working_directory: InfraService/environment/dev
     
