
name: InfraService CI - Terraform Plan

on:
  pull_request:
    branches:
    - main
  workflow_dispatch:

jobs:
  terraform_plan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Terraform Plan
        uses: ITAssetManagementSystem/CommonWorkflows/.github/actions/terraform-plan@main
        with:
          working_directory: environment/dev
          client_id: ${{ secrets.ARM_CLIENT_ID }}
          client_secret: ${{ secrets.ARM_CLIENT_SECRET }}
          subscription_id: ${{ secrets.ARM_SUBSCRIPTION_ID }}
          tenant_id: ${{ secrets.ARM_TENANT_ID }}
     
