
name: InfraService CI - Terraform Plan

on:
  pull_request:
    branches:
    - main
  workflow_dispatch:

jobs:
  terraform_plan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Azure login
        uses: azure/login@v2
        with:
          creds: '{"clientId":"${{ secrets.ARM_CLIENT_ID }}","clientSecret":"${{ secrets.ARM_CLIENT_SECRET }}","subscriptionId":"${{ secrets.ARM_SUBSCRIPTION_ID }}","tenantId":"${{ secrets.ARM_TENANT_ID }}"}'
        
      - name: Terraform Plan
        uses: ITAssetManagementSystem/CommonWorkflows/.github/actions/terraform-plan@main
        with:
          working_directory: environment/dev
     
